
.section{
    min-height: 80vh;
    padding: 40px 15px;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    @media (min-width:800px) {
        flex-direction: row;
        padding: 70px 10px;
    }

    &__title{
        font-family: 'Russo One', sans-serif;
        text-transform: uppercase;
        letter-spacing: 10px;
        color: #19181D;
        text-align: center;
    }


    &__text{
        font-size: 15px;
        padding-top: 25px;
        line-height: 1.2rem;
    }

    &__description{
        min-width: 100%;
        min-height: 400px;
        padding-top: 40px;
     

        @media (min-width:730px) {
            min-width: 300px;
        }

        @media (min-width:800px) {
            margin: 0 25px;
            width: 450px;
        }

        
    }

    
    
}

.section__specialists{

    &-specialist{
        flex-grow: 1;
        
        &:nth-of-type(1){
            margin-right: 15px;
        }

        &:nth-of-type(2){
            margin-left: 15px;
        }
    }

    &-btn{
        height: 55px;
        background-color: #19181D;
        color: white;
        text-transform: uppercase;
        text-align: center;
        line-height: 55px;
        font-size: .6rem;
        font-weight: bold;
        letter-spacing: 1px;
        
    }

    &-description{
        font-size: .7rem;
        color: #999;
        line-height: 1.4rem;
        padding-top: 40px;
    }
}

