.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 3;
}

