*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
}

:root {
    --swiper-theme-color: #f5b121 !important;
}

body{
    font-family: 'Roboto', sans-serif;
    min-height: 350vh;
    overflow-x: hidden;
}