
.about-me{
  
    &__features{
        max-width: 450px;
        min-width: 300px;
        height: 260px;
        background-color: #f5b121;
        margin: 0 auto;
       position: relative;
       z-index: -1;
        

        @media (min-width:500px) {
            height: 400px;
        }

        @media (min-width:800px) {
            height: 570px;
           
        }

        @media (min-width:900px) {
            margin: 0;
        }

        &-feature{
            font-family: 'Russo One', sans-serif;
            text-transform: uppercase;
            text-align: center;
            font-size: 2.2rem;
            letter-spacing: 5px;
            color: #19181D;
            font-weight: bold;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            
            @media (min-width:800px) {
                font-size: 2.2rem;
            }
            @media (min-width:1024px) {
                font-size: 4.2rem;
                letter-spacing: 7px;
            }
        }
    }

    
}

.about-me__specialists{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;

   
}