
.nav{
    width: 100%;
    max-width: 480px;
    min-width: 200px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    height: 80px;
   
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
    &--active{
        height: 100%;
        z-index: 2;
        padding-right: 10px;
        justify-content: flex-end;
    }
}

.nav__wrapper{
    
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;

    @media (min-width:768px) {
       width: 100%;
       min-width: 200px;
       max-width: 330px;
    }
   
}


.nav--active .nav__wrapper{
justify-content: flex-end;
max-width: 100%;
min-width: initial;
width: auto;
flex-direction: column;
justify-content: flex-start;
align-items: flex-end;
transform: translateX(250%);
z-index: 2;
padding: 5px 0;

@media (min-width:900px) {
    justify-content: center;
    padding: 0 20px;
  }

&-canvas{
    display: block;
    width: 200px;
    height: 200px;
    background-color: #dfac37;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 50%;
    transform: translate(60px,60px);
}
}

.nav__hamburger-close{
    display: none;
}

.nav--active .nav__hamburger-close{
    
    color: rgb(200, 197, 197);
   
    text-transform: uppercase;
    padding-top: 25px;
    font-size: .6rem;
    display: block;
    width: 60px;
    text-align: center;
    cursor: pointer;
    letter-spacing: .5px;
    font-weight: bold;
    transition: color .2s .1s ease-in-out;

    &:hover{
        color: #dfac37;
    }

    
}



.nav__hamburger{
    border: none;
    background-color: transparent;
    width: 35px;
    height: 25px;
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 4;
    outline: none;
    

    &::after,&::before{
        content: "";
        width: 100%;
        height: 5px;
        background-color: white;
        position: absolute;
        left: 0;
    }

    &::after{
        top:0;
    }

    &-canvas{
       display: none;
    }
  
}

.nav__hamburger--active{
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50px;
   
    transition: color .2s .1s ease-in-out;

    &:hover{
        background-color: #dfac37;
    }

    &:hover + span{
        color: #dfac37;
    }

  
}

.nav__hamburger--active::after,.nav__hamburger--active::before{
    height: 1px;
    background-color: rgb(68, 67, 67);
    width: 55%;
    margin: 0 auto;
    left: 22.5%;
    top: 50%;
    transform: translateY(-50%);
}

.nav__hamburger--active::after{
    transform: rotate(-45deg) ;
 
  
    
}

.nav__hamburger--active::before{
    transform: rotate(45deg) ;
    
}

.nav__hamburger-close:hover  ~ button{
  
    background-color: #dfac37;

}

.nav__menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    transition: all .4s ease-in-out;
    pointer-events: none;
    display: flex;

    &--active{
        pointer-events: initial;
      
    }

    &-info{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &-contact{
        font-family: 'Lato', sans-serif;
        background-color: white;
        flex-basis: 50%;
        min-width: 350px;
        transform: translateX(-100%);
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-weight: bold;
        padding: 0 60px;
        padding-left: 60px;
        padding-right: 0;

        @media (min-width:768px) {
            display: flex;
        }

        &_title{
            text-transform: uppercase;
            font-size: .6rem;
           display: flex;
           align-items: center;
            letter-spacing: 1px;;

            &::before{
                content: "";
                display: block;
                width: 27px;
                height: 3px;
                background-color: black;
                margin-right: 15px;
            }
        }

        &_text{
            text-transform: uppercase;
            font-size: 1.3rem;
            margin-top: 35px;
            letter-spacing: 7px;
        }
    }
    
    &-footer{
        font-family: 'Lato', sans-serif;
        flex-basis: 50%;
        background-image: url("../../img/Contact_footer.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        transform: translateY(100%);
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        letter-spacing: 7px;
        text-transform: uppercase;
        color: white;

        @media (min-width:768px) {
            display: flex;
        }

        &::after{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #503a07e0;
           z-index: -1;
        }

        &_title{
            font-size: 1.3rem;
        }
    }

    
   
}

.menu{
    width: 100%;
  
    background-color: #19181D;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;


    @media (min-width:990px) {
      flex-basis: 70%;
      width: auto;
      padding: 0 150px;
    }

    &__list{
        list-style: none;
        width: 100%;
    }

    &__item{
        margin: 50px 0;
    }

    &__link{
        font-family: 'Russo One', sans-serif;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 1.3em;
        color: white;
        padding: 10 20px;
        display: block;
        font-weight: bold;
        letter-spacing: 5px;
        transition: color .2s .1s ease-in-out;

        @media (min-width:500px) {
            font-size: 1.9rem;
          }

        @media (min-width:768px) {
            font-size: 1.8rem;
          }

          @media (min-width:1024px) {
            font-size: 2.2rem;
          }

        &:hover{
            color: #dfac37;
        }


    }
}

.menu .contact-sources{
    width: 100%;
    padding-top: 0px;

    @media (min-width:768px) {
        display: none;
    }

    &__source{
            margin: 0 12px;

        &:nth-of-type(1){
            margin-left: 0;
        }
    }
}

.nav__menu-footer .contact-sources .wrapper{
text-align: center;
}


