

.article{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    padding-right: 5px;
    
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;

        @media (min-width:800px) {
            margin-top: 140px;
        }
    }

    

    &__info{
        width: 100%;
        max-width: 600px;
        min-width: 300px;
        margin: 0 auto;
        position: relative;

        &-link{
            text-decoration: none;
            color: black;
        }
      

        &-imgs{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &_img{
                display: block;
                width: 100%;
                filter: brightness(0.8);
            }
        }

        &-picture{
          
        }

        &-img{
            display: block;
            width: 100%;
         
        }

        &-position{
            padding-left: 30px;
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: bold;
            letter-spacing: 7px;
            line-height: 2rem;
            background-color: white;
        }

        &-text{
            padding-left: 30px;
            font-size: .8rem;
            line-height: 1.5rem;
            margin-top: 10px;
        }
    }
}

.article .contact-sources{
    width: 100%;
    margin: 0 auto;
    padding: 40px 40px;

    &__source{
        color: black;
        margin: 0 10px;
        font-size: .9rem;
    }
}