@import "../../../styles/functions.scss";

.projects{
    
    &__view{
        flex-grow: 1;
        height: 410px;
        min-height: 350px;
        max-height: max-content;
        width: 100%;

        &-technologies{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 10px;
            flex-wrap: wrap;
        }

        &-technologie{
            display: block;
            margin: 5px;
            animation: scale_element 2.2s 6s ease-in-out infinite both;
        }
        
    }
   
    
    &__wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media (min-width:768px) {
            flex-direction: row;
        }
    }

    &__description{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100% !important;
        margin: 0 25px;
        max-width: 420px;
        min-width: 300px;

        &-text{
            padding-top: 0 !important;
        }

        &-title{
           
            font-size: 1.1rem;

        }
    }

    

    &__btn{
        min-width: 200px !important;

        @media (min-width:768px) {
            display: flex !important;
        }
    }
}

.projects__links{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    &-link{
        width: 100%;
        max-width: 195px;
        height: 100%;
        text-decoration: none;
        color: black;
        display: block;
      


        &:nth-of-type(1){
            margin-right: 5px;
        }

        &:nth-of-type(2){
            margin-left: 5px;
        }

        & > button{
            width: 100%;
            display: flex;
            min-width: initial !important;
            padding: 0 5px;
            font-size: .5rem;
          


             @media (min-width:420px) {
                
                font-size: .6rem;
            }
        }
    }
}

.swiper-container {
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 350px;
   
}

.swiper-slide{
    width: 100% !important;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
    filter: brightness(0.9);

   @media (min-width:768px) {
    background-position: left top;
    
}

}

.swiper-slide > img {
    display: block;
    width: 100%;
    height: 100%;
   
}


// PROJECTS SECTION - BTN

.projects__links-link:nth-of-type(2) > button > span{
    transform: rotate(180deg);
}

.projects__links-link:nth-of-type(2) > button {
    flex-direction: row-reverse;
    
}

































































































































































































































































































































































