.projects{
    
    &__view{
        flex-grow: 1;
        height: 350px;
        width: 100%;
        
    }
   
    
    &__wrapper{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;

        @media (min-width:768px) {
            flex-direction: row;
        }
    }

    &__description{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100% !important;
        margin: 0 25px;
        max-width: 420px;
        min-width: 300px;

        &-text{
            padding-top: 0 !important;
        }

        &-title{
            //text-align: center;
            font-size: 1.1rem;

        }
    }

    

    &__btn{
        min-width: 200px !important;

        @media (min-width:768px) {
            display: flex !important;
        }
    }
}

.projects__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    &-link{
        text-decoration: none;
        color: black;
        display: block;
    }
}

.swiper-container {
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 350px;
    @media (min-width:400px) {
        //height: 450px;
       
    }
}

.swiper-slide{
    width: 100% !important;
    height: 100%;
    background-repeat: no-repeat;
    filter: drop-shadow(2px 4px 6px black) brightness(.9);
    background-position: left center;
   background-size: cover;
}

.swiper-slide > img {
    display: block;
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
}


// PROJECTS SECTION - BTN

.projects__btn{
    &:nth-of-type(2){
        flex-direction: row-reverse;
        padding-right: 0 !important;
        margin-left: 5px !important;

    }

    &:nth-of-type(2)  &-icon{
        transform: rotate(180deg);
      
       
    }
}

.projects__btn > span:nth-child(2) {
    transform: rotate(180deg);
    background-color: red;
}

































































































































































































































































































































































