
.abilities{

}

.abilities__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
}

.abilities{

    &__skills{
        margin: 40px 0;
        font-family: 'Russo One', sans-serif;
        text-transform: uppercase;
        letter-spacing: 10px;
        color: #19181D;
        text-align: center;
      
    }

    &__text{
        width: 100%;
        max-width: 600px;
        line-height: 1.4rem !important;
        text-align: center;
    }

    &__elements{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 80px;
        

        @media (min-width:600px) {
            flex-wrap: initial;
        }
        
    }
}

.abilities__specialists-specialist{
    margin: 0 10px 30px 0;

    @media (min-width:600px) {
        flex-wrap: initial;
        margin: 0 10px;
    }
}

