.section__btn{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    border: 1px solid rgb(206, 200, 200);
    min-width: 180px;
    height: 60px;
    text-transform: uppercase;
    display: none;
    font-size: .6rem;
    cursor: pointer;
    letter-spacing: 1.5px;
    transition: all  .2s .05s ease;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
    &:hover{
        background-color: #dfac37;
        color: white;
        border-color: #dfac37;
    }


    @media (min-width:800px) {
        display: block;
    }

    @media (min-width:900px) {
        min-width: 220px;
    }

    &-icon{
        font-size: .45rem;
        padding-right: 10px;
       
    }
}


    
