

.logo{
    margin: 15px 0;
    position: relative;
    z-index: 5;

    &__link{
        text-decoration: none;
    }

    &__backgr{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90%;
        background-color: #FFCC57;
        transform: translate(5px,4px);
        z-index: -1;
        
    }
}

